[Unit]
Description=App that handles the force sensor reading and sending.
After=bluetooth.service


[Service]
Type=simple
ExecStart=/usr/share/misc/forceapp_startup.sh
Restart=always

[Install]
WantedBy=multi-user.target